.loader {
  width: 2rem;
  height: 2rem;
  display: block;
  position: relative;
  border: 3px solid;
  border-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: 0.5s rotate linear infinite;

  &[data-loader-content=restaurantName] {
    margin: 1rem auto;
  }
  
  &[data-loader-content=menuText] {
    margin: 5rem auto;
  }

  &[data-loader-variant=dark] {
    border-color: $black transparent transparent transparent;
  }
  
  &[data-loader-variant=light] {
    border-color: $white transparent transparent transparent;
  }
  
  &.hidden {
    display: none;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}