$black: #121212;
$white: #ffffff;

$font-size: 1rem;
$font-family: 'Poppins', sans-serif;
$font-color: #dae0e0;
$page-width: 650px;
$card-bg: #eeebe5;
$border-color: #808370;
$hr-color: #818078;

$lquo: '\201C';
$rquo: '\201D';
